## Pandas Series Practice Assignment

##1.  Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [ ]:
import pandas as pd
import numpy as np
Name = ['Amiya','Ankit','Arka','Ayas',
        'Amitab','Lala','Ganesh','Dipanshu',
        'Ashis','Rajesh','Prateek']
ser = pd.Series(Name)
ser

##2.  Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [ ]:
'''print('Pandas Series and type :',type(ser))
print(ser.tolist())
print('After Convert type of Series: ')
print(type(ser.tolist()))'''

##3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [ ]:
'''ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])
print(ser1)
print(ser2)
print('Adding\n',ser1+ser2)
print('Substracting\n',ser1-ser2)
rint('Multipling\n',ser1*ser2)
print('Dividing\n' ,ser1/ser2)'''

##4. Write a Pandas program to compare the elements of the two Pandas Series

In [ ]:
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 10])
print(ser1==ser2)
print(ser1>ser2)
print(ser1<ser2)
print(ser1>=ser2)
print(ser1<=ser2)

##5. Write a Pandas program to convert a dictionary to a Pandas series.

In [ ]:
Dict = {'a':'Ankit','b':'Arka','c':'Ayaskant',
        'd':'Dipanshu','e':'Rajesh','f':'Amitab'}
dser = pd.Series(Dict)
dser

##6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [ ]:
arr = np.array([12,34,73,64])
arrser = pd.Series(arr)
arrser

##7. Write a Pandas program to change the data type of given a column or a Series

In [ ]:
ds=pd.Series([12,234,'Python',67,'Series',76])
print(ds)
print(type(ds))
ds2=pd.to_numeric(ds,errors='coerce')
print(ds2)

##8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [ ]:
dic={'col1':[1,2,3,4,7,11],
      'col2':[4,5,6,9,5,0],
      'col3':[7,5,8,12,1,11]}
df=pd.DataFrame(dic)
print(df)
ser=pd.Series(df.col1)
print(ser)

##9. Write a Pandas program to convert a given Series to an array.

In [ ]:
ser=pd.Series([100, 200 ,'python' 
               ,300.12, 400])
arr=np.array(ser)
print(ser)
print(arr)