## 4.Iterating over rows and columns

* Iteration is a general term for taking each item of something, one after another. 

* Pandas DataFrame consists of rows and columns so, in order to iterate over dataframe, we have to iterate a dataframe like a dictionary.

* In a dictionary, we iterate over the keys of the object in the same way we have to iterate in dataframe.

* In Pandas Dataframe we can iterate an element in two ways:

             * Iterating over rows
             * Iterating over columns

* $Iterating$ $over$ $rows$ $:-$

-> In order to iterate over rows, we can use three function $iteritems()$, $iterrows()$, $itertuples()$ . These three function will help in iteration over rows.

    Iteration over rows using iterrows():-
    
* In order to iterate over rows, we apply a $iterrows()$ function.

* This function return each index value along with a series containing the data in each row.

In [2]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
  
print(df)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

    Iteration over rows using iteritems():-
    
* In order to iterate over rows, we use $iteritems()$ function.

* This function iterates over each column as key, value pair with label as key and column value as a Series object.

In [4]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
  
print(df)

# using iteritems() function to retrieve rows
for key, value in df.iteritems():
    print(key, value)
    print()

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
name 0    aparna
1    pankaj
2    sudhir
3     Geeku
Name: name, dtype: object

degree 0       MBA
1       BCA
2    M.Tech
3       MBA
Name: degree, dtype: object

score 0    90
1    40
2    80
3    98
Name: score, dtype: int64

     Iteration over rows using itertuples():-
     
* In order to iterate over rows, we apply a function $itertuples()$.

* This function return a tuple for each row in the DataFrame.

* The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

In [6]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
  
print(df)

# using a itertuples() 
for i in df.itertuples():
    print(i)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
Pandas(Index=0, name='aparna', degree='MBA', score=90)
Pandas(Index=1, name='pankaj', degree='BCA', score=40)
Pandas(Index=2, name='sudhir', degree='M.Tech', score=80)
Pandas(Index=3, name='Geeku', degree='MBA', score=98)

* $Iterating$ $over$ $Columns$ $:-$

-> In order to iterate over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [9]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
   
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
  
print(df)

# creating a list of dataframe columns
columns = list(df)
  
for i in columns:
  
    # printing the third element of the column
    print (df[i][2])

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
sudhir
M.Tech
80

                DataFrame Methods:

      FUNCTION                DESCRIPTION
      
* index()--------------------------Method returns index (row labels) of the DataFrame

* insert()------------------------Method inserts a column into a DataFrame

* add()---------------------------Method returns addition of dataframe and other, element-wise (binary operator add)

* sub()------------------------Method returns subtraction of dataframe and other, element-wise (binary operator sub)

* mul()------------------------Method returns multiplication of dataframe and other, element-wise (binary operator mul)

* div()---------------------------Method returns floating division of dataframe and other, element-wise (binary operator truediv)

* unique()-------------------Method extracts the unique values in the dataframe

* nunique()-------------------Method returns count of the unique values in the dataframe

* value_counts()--------------Method counts the number of times each unique value occurs within the Series

* columns()------------------Method returns the column labels of the DataFrame

* axes()-----------------Method returns a list representing the axes of the DataFrame

* isnull()-------------Method creates a Boolean Series for extracting rows with null values

* notnull()----------------------Method creates a Boolean Series for extracting rows with non-null values

* between()------------------Method extracts rows where a column value falls in between a predefined range

* isin()---------------------Method extracts rows from a DataFrame where a column value exists in a predefined collection

* dtypes()--------------------Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns

* astype()--------------------Method converts the data types in a Series

* values()-----------------------Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed

* sort_values()- Set1, Set2-----------------Method sorts a data frame in Ascending or Descending order of passed Column

* sort_index()----------------------Method sorts the values in a DataFrame based on their index positions or labels instead of their values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method

* loc[]------------------Method retrieves rows based on index label

* iloc[]-----------------Method retrieves rows based on index position

* ix[]----------------Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods

* rename()-----------------------Method is called on a DataFrame to change the names of the index labels or column names

* columns()--------------------Method is an alternative attribute to change the coloumn name

* drop()-----------------------Method is used to delete rows or columns from a DataFrame

* pop()------------------------Method is used to delete rows or columns from a DataFrame

* sample()----------------------Method pulls out a random sample of rows or columns from a DataFrame

* nsmallest()----------------Method pulls out the rows with the smallest values in a column

* nlargest()----------------Method pulls out the rows with the largest values in a column

* shape()------------------Method returns a tuple representing the dimensionality of the DataFrame

* ndim()------------------Method returns an ‘int’ representing the number of axes / array dimensions.

Returns 1 if Series, otherwise returns 2 if DataFrame

* dropna()-------------------------Method allows the user to analyze and drop Rows/Columns with Null values in different ways

* fillna()------------------------Method manages and let the user replace NaN values with some value of their own

* rank()--------------------------Values in a Series can be ranked in order with this method

* query()------------------------Method is an alternate string-based syntax for extracting a subset from a DataFrame

* copy()------------------------Method creates an independent copy of a pandas object

* duplicated()----------------Method creates a Boolean Series and uses it to extract rows that have duplicate values

* drop_duplicates()-----------Method is an alternative option to identifying duplicate rows and removing them through filtering

* set_index()-----------------Method sets the DataFrame index (row labels) using one or more existing columns

* reset_index()--------------Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index

* where()--------------------Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not                           satisfying the condition are filled with NaN value